
a[href^="https://www.google.com"] { 
	color: green; 
}



a[href^="https://www.link-group.eu"] { 
	color: red; 
}


#second-div    p:nth-of-type(even) { 
	color: blue; 
}



#second-div    p:nth-of-type(odd) { 
	color: red; 
}



#first-div >  p::after { 

        content  : "NEW";
	color: yellow; 
}


body > p:last-child:hover  {
   
       font-style:italic;}